﻿@import "normalize";

.ag-mainlist{
    .ag-fixed-size-base{
        vertical-align: middle;
        text-align: center;
    }
    .ag-fixed-size50{
        @extend .ag-fixed-size-base;
        width: 50px;
    }
    .ag-fixed-size100{
        @extend .ag-fixed-size-base;
        width: 100px;
    }  
    .ag-fixed-size150{
        @extend .ag-fixed-size-base;
        width: 150px;
    }  
}

