﻿<%
var modalClass = data.fade ? "fade" : "";

var allowClose = data.allowclose !== undefined ? data.allowclose : true;
var allowSave = data.allowsave !== undefined ? data.allowsave : false;
var showFooter = allowClose || allowSave;

var closeTitle = data.close !== undefined ? data.close : "Закрыть";
var saveTitle = data.save !== undefined ? data.save : "Сохранить";
%>
<div class="modal <%=modalClass %>" id="<%=data.id %>" tabindex="-1" role="dialog" aria-labelledby="<%=data.title %>">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <%if(allowClose){
                %>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                <%
                } %>
                <h4 class="modal-title" id="myModalLabel"><%=data.title %></h4>
            </div>
            <div class="modal-message"></div>
            <div class="modal-body">
                <%=data.message %>
            </div>
            <%if(showFooter){
            %>
            <div class="modal-footer">
                <%if(allowClose){
                %>
                <button type="button" class="btn btn-default" data-dismiss="modal"><%=closeTitle %></button>
                <%
                }
                if(allowSave){
                %>
                <button type="button" class="btn btn-primary" data-save="true"><%=saveTitle %></button>
                <%
                } %> 
            </div>
            <%
            } %> 
        </div>
    </div>
</div>
