﻿<form>
    <div class="form-group">
        <label for="fileName" class="control-label">Наименование:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="fileName" aria-describedby="extension"><span class="input-group-addon" id="extension"></span>
        </div>
        <span id="helpBlock" class="help-block">Укажите наименование файла. Поле обязательно для заполнения и не должно превышать 250 символов.</span>
    </div>
    <input type="hidden" id="key" value="">
</form>