﻿<form>
    <div class="form-group">
        <label for="folderName" class="control-label">Наименование:</label>
        <input type="text" class="form-control" id="folderName">
        <span id="helpBlock" class="help-block">Укажите наименование новой папки. Поле обязательно для заполнения и не должно превышать 250 символов.</span>
    </div>
    <input type="hidden" id="key" value="">
</form>