﻿<%
var items = data.items,
item,
isFile,
crumbs = data.crumbs,
crumb;

%>
<ol class="breadcrumb">
    <%
    for ( var i = 0; i < crumbs.length; i++ ) {
    crumb = crumbs[i];
    if(i === crumbs.length - 1){
    %>
    <li class="active">
        <%=crumb.name %>
    </li><%
        } else {
        %>
    <li>
        <a href="#" data-key="<%=crumb.key %>" data-action="go"><%=crumb.name %></a>
    </li><%
        }
        }
        %>
</ol>
    <%
    if(0 === items.length){
    %>Элементов не найдено<%
    } else {
%>
<div class="table-responsive ag-mainlist">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="ag-fixed-size50">Тип</th>
            <th>Наименование</th>
            <th class="ag-fixed-size150">Создано</th>
            <th class="ag-fixed-size150">Изменено</th>
            <th class="ag-fixed-size100">Размер, Mb</th>
            <th class="ag-fixed-size100">Действия</th>
        </tr>
        </thead>
        <tbody>
        <%
        for ( var i = 0; i < items.length; i++ ) {
        item = items[i];
        isFile = "file" === item.type;
        %>
        <tr>
            <td class="ag-fixed-size50">
                <% if(isFile){
                %><span class="glyphicon glyphicon-file" aria-hidden="true"></span><%
                } else {
                %><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span><%
                } %>
            </td>
            <td>
                <% if(isFile){
                %><a href="/Services/Download.ashx?key=<%=item.key %>" data-key="<%=item.key %>" data-type="<%=item.type %>"><%=item.name %></a><%
                } else {
                %><a href="#" data-key="<%=item.key %>" data-action="go"><%=item.name %></a><%
                } %>
            </td>
            <td class="ag-fixed-size150">
                <%=item.created %>
            </td>
            <td class="ag-fixed-size150">
                <%=item.modified %>
            </td>
            <td class="ag-fixed-size100">
                <%=item.size %>
            </td>
            <td class="ag-fixed-size100">
                <a href="#" data-key="<%=item.key %>" data-isfile="<%=isFile %>" data-action="update"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href="#" data-key="<%=item.key %>" data-isfile="<%=isFile %>" data-action="delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
    <% } %>

